@import "@styles/variables.scss";

.options-enter {
  max-height: 0px !important;
  transform: translateX(-5px);
}

.options-enter-active {
  max-height: 20rem !important;
  @media (max-width: $mobile) {
    max-height: 25rem !important;
  }
  transition: all 300ms ease-in-out;
}

.options-exit {
  max-height: 20rem !important;
  @media (max-width: $mobile) {
    max-height: 25rem !important;
  }
}

.options-exit-active {
  max-height: 0px !important;
  transition: all 200ms ease-in-out;
}
